.profile{
/* margin: 10px 0; */

}
.backgroundImg{
}
.backgroundImg img{
    max-height: 312px;
    width: 100%;     
    object-fit: cover;
}
.profileImg{
    background-color: #f6f6f6;
    width: 100%;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileImg img{
    max-height: 150px;    
    border-radius: 50%;
}
.userDetails{
    margin: 1rem 0;
    text-align: center;
    line-height: 2rem;
    /* background-color: pink; */
    width: 100%;
}
.userDetails .accountDetails{
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .3);
}
.userDetails .accountDetails div{
    display: flex;
    /* background-color: red; */
    justify-content: space-around;

}
.transaction{
    height: 100px;
    margin-top: 5rem;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
