* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.container {
    width: 80vw;
    margin: auto;
}

header {
    height: 600px;
    background-image: linear-gradient(to bottom, rgba(20, 36, 0, 0.52), rgba(121, 9, 1, 0.73)),
        url('https://wp.fxssi.com/wp-content/uploads/2021/12/poster-top-investment-banks.jpg');
    background-size: cover;

}

nav {
    width: 100vw;
    box-shadow: 1px 2px rgba(0, 0, 0, .3);
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 40px;
}

.navbarlist a {
    margin: 1rem;
    color: white;
    font-weight: bolder;
    font-size: 1.4rem;
    /* transition: a .5s ease-in-out; */
}

.navbarlist a:hover {
    /* color: rgb(20, 36, 0); */
    border-bottom: 1px solid red;
}

.hero {
    height: 100%;
    display: grid;
    place-items: center;
}

.content {
    text-align: center;
    line-height: 2.5rem;
    color: white;
}

.customerNav{
    background-color: green;
}

.grid-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}

.grid-container>div {
    background-color: rgba(33, 178, 74, 0.8);
    text-align: center;
    padding: 1.25rem;
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container>div .icon-image {
    margin: 2rem 0;
    background-color: red;
    border-radius: 50%;
    height: 7.5rem;
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container>div .icon-image img {
    height: 3.75rem;
}

.grid-container>div .text a {
    color: black;
    font-size: 1.65rem;
}
.hamburger{
    display: none;
    z-index: 999;
}
.fa-solid{
    color: white;
    font-size: 2rem;
}

/* About Us */
.title{
    text-align: center;
    margin: 1rem 0;
    text-decoration:  underline wavy hotpink;
    font-size: 1.5em;
}
#about{
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 400px;
    background-color: #f6f6f6;
    padding-top: 2rem;

}
.about{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.about .aboutme{
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
.about .aboutme h2{
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}
.about .aboutme h3{
    letter-spacing: .1rem;
    font-weight: 400;
}
.about .aboutme .socialMedia{
    margin: 1rem 0;    
}
.about .aboutme .socialMedia i{
    margin: .5rem;
    color: black;
    font-size: 2rem;
}
.about .aboutme .socialMedia i:hover{
    color: orange;
}

.about .myImg{
    background-image: url('https://avatars.githubusercontent.com/u/90146483?v=4');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    background-position-x: center;
    border: 1rem solid orange;
}

/* contact Us */
#contact{
    margin-bottom: 2rem;
    display: grid;
    min-height: 400px;
    background-color: #f6f6f6;
    padding: 2rem;
}

.form-field{
    width: 100%;
    margin: 2rem 0;
}
.form-field label{
    display: block;
    font-size: 2rem;
    width: 100%;
}
.form-field input{
    width: 100%;
    padding: .5rem;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: 0;
}
.form-field textarea{
    width: 100%;
    border: 2px solid black;
    background-color: transparent;
    resize: none;
}
.btn-container{
    display: grid;
    place-items: center;
    /* background-color: red; */
}
.btn{
    padding: .5rem 2rem;
    background-color: orange;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    html{
        font-size: 12px;
    }
    body {
        /* background-color: lightblue; */
        font-size: 12px;
    }

    .container {
        width: 90vw;
    }

    .navbarlist a {
        font-size: 1.2rem;
    }

    .grid-container>div .text a {
        font-size: 1.4rem;
    }
    .about{
        grid-template-columns: 1fr;
    }
    
}


/* Customer Table */
.tableContainer{
    max-height: 400px;
    overflow: scroll;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.customerTable{
    width: 100%;
    max-height: 600px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;    
}

td:not(:first-child){
    min-width: 150px;
}

.customerTable thead{
    background-color: black;
    color: white;
    font-size: 1.2rem;
    /* position: absolute; */
}
tr:nth-child(even) {
  background-color: #e1eed6;
}

.CustomerViewBtn{
    padding: .3rem 2rem;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: orange;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}


@media only screen and (max-width: 980px) {
    .grid-container{
        grid-template-columns: auto auto;
    }
    header{
        position: relative;
    }
    .hamburger{
        display: block;
    }
    .navbarlist{
        /* display: none; */
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbarlist a{
        margin: 10rem;
        /* background-color: red; */
        padding: 1rem;
        font-size: 1.5rem;
    }
    .grid-container{
        grid-template-columns: auto auto;
    }
    

    .active{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
   
    .navbarlist a{
        margin: 0;
    }

}

@media only screen and (max-width: 400px){
    .grid-container{
        grid-template-columns: auto;
    }
}
